@media (width > 768px) {
  h1 {
    font-size: 3.5rem;
  }

  input {
    width: 500px;
  }

  .input-sats {
    background-image: url(../images/S-btc.png);
    background-repeat: no-repeat;
    background-size: 20px 30px;
    background-position: center left 5px;
    padding-left: 30px;
  }

  .input-btc {
    background-image: url(../images/B-btc.png);
    background-repeat: no-repeat;
    background-size: 20px 30px;
    background-position: center left 5px;
    padding-left: 30px;
  }

  .label-sats {
    font-size: 1.25rem;
    bottom: 71px;
    right: 215px;
  }

  .label-btc {
    font-size: 1.25rem;
    bottom: 71px;
    right: 215px;
  }

  .input-sats:focus + .label-sats {
    bottom: 71px;
    right: 200px;
    color: orange;
    font-size: 20px;
  }

  .input-btc:focus + .label-btc {
    bottom: 71px;
    right: 200px;
    color: orange;
    font-size: 20px;
  }
}
